# VARS-TOOL Tutorial

## Install

This is a simple tutorial show casing VARS-TOOL functionalities that are being implement in Python. For now, only single value functions can be fed to the package, however, the time-varying/-aggregate versions are to be added soon. Let's install the latest VARS-TOOL from GitHub:

In [1]:
!git clone https://github.com/vars-tool/vars-tool
!pip install vars-tool/.

Cloning into 'vars-tool'...

Processing c:\users\corde\giws\vars-tool\tutorial\vars-tool
  Installing build dependencies: started
  Installing build dependencies: still running...
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
    Preparing wheel metadata: started
    Preparing wheel metadata: finished with status 'done'
Requirement already satisfied: pandas in c:\users\corde\anaconda3\lib\site-packages (from varstool==2.1) (1.2.4)
Requirement already satisfied: scipy in c:\users\corde\anaconda3\lib\site-packages (from varstool==2.1) (1.6.2)
Requirement already satisfied: matplotlib in c:\users\corde\anaconda3\lib\site-packages (from varstool==2.1) (3.3.4)
Requirement already satisfied: numpy in c:\users\corde\anaconda3\lib\site-packages (from varstool==2.1) (1.20.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\corde\anaconda3\lib\site-packages (from matplotlib->varstool==2.1) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\corde\anaconda3\lib\site-packages (from matplotlib->varstool==2.1) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\corde\anaconda3\lib\site-packages (from matplotlib->varstool==2.1) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\corde\anaconda3\lib\site-packages (from matplotlib->varstool==2.1) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\corde\anaconda3\lib\site-packages (from matplotlib->varstool==2.1) (2.4.7)
Requirement already satisfied: six in c:\users\corde\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->varstool==2.1) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\corde\anaconda3\lib\site-packages (from pandas->varstool==2.1) (2021.1)
Building wheels for collected packages: varstool
  Building wheel for varstool (PEP 517): started
  Building wheel for varstool (PEP 517): finished with status 'done'
  Created wheel for varstool: filename=varstool-2.1-py2.py3-none-any.whl size=62551 sha256=4e7095eba2de5fecf0183dd1cb04edaab73373cf738f02438f7e8f08f940dc86
  Stored in directory: c:\users\corde\appdata\local\pip\cache\wheels\ea\22\e6\94dfc4ddef885e03d97899daed3e63a6c2c3a1295f1b37f687
Successfully built varstool
Installing collected packages: varstool
  Attempting uninstall: varstool
    Found existing installation: varstool 2.1
    Uninstalling varstool-2.1:
      Successfully uninstalled varstool-2.1
Successfully installed varstool-2.1

## An example

Let's import what we have installed:

In [2]:
# importing VARS and Model from varstool package
from varstool import VARS, Model

import numpy as np
import pandas as pd

Let's define a sample function to use in the analysis:

In [3]:
def ishigami(x, a=7, b=0.05):
    '''Ishigami test function'''
    # check whether the input x is a dataframe
    
    if not isinstance(x, (pd.core.frame.DataFrame, pd.core.series.Series, np.ndarray, list)):
        raise TypeError('`x` must be of type pandas.DataFrame, numpy.ndarray, pd.Series, or list')
    
    if len(x) > 3:
        raise ValueError('`x` must have only three arguments at a time')
    
    return np.sin(x[0]) + a*(np.sin(x[1])**2) + b*(x[2]**4)*np.sin(x[0])

The `Model` class is a wrapper for custome functions in the online version of VARS. However, the first argument of every function must accept an array of parameters:

In [4]:
ishigami_model = Model(ishigami)

Create `experiment_1` and initialize the values needed to run a VARS analysis:

In [5]:
experiment_1 = VARS(parameters = {'x1':(0, 1), 'x2':(0, 1), 'x3': (0, 1)},
                    delta_h = 0.1,
                    ivars_scales = (0.1, 0.3, 0.5),
                    num_stars=10,
                    sampler = 'rnd',
                    model = ishigami_model,
                    bootstrap_flag = True,
                    bootstrap_size = 100,
                    bootstrap_ci=0.9,
                    grouping_flag=True,
                    num_grps=2
                )

We can get a status report of the analysis by typing the instance class name:

In [6]:
experiment_1

Star Centres: Loaded
Star Points: Not Loaded
Parameters: 3 paremeters set
Delta h: 0.1
Model: ishigami
Seed Number: 123456789
Bootstrap: On
Bootstrap Size: 100
Bootstrap CI: 0.9
Grouping: On
Number of Groups: 2
VARS Analysis: Not Done

Let's run the online version - please note that for now we do not have a progress report (under investigation):

In [7]:
experiment_1.run_online()
experiment_1

Star Centres: Loaded
Star Points: Loaded
Parameters: 3 paremeters set
Delta h: 0.1
Model: ishigami
Seed Number: 123456789
Bootstrap: On
Bootstrap Size: 100
Bootstrap CI: 0.9
Grouping: On
Number of Groups: 2
VARS Analysis: Done

And different values are accessible:

In [8]:
experiment_1.variogram_value.unstack(0)

param        x1         x2        x3
h
0.1    0.003718   0.146534  0.000003
0.2    0.014979   0.595272  0.000010
0.3    0.033854   1.348464  0.000019
0.4    0.060286   2.391567  0.000028
0.5    0.094091   3.692351  0.000038
0.6    0.134957   5.201432  0.000049
0.7    0.182446   6.854297  0.000065
0.8    0.236001   8.574740  0.000088
0.9    0.294957  10.279464  0.000126

In [9]:
experiment_1.covariogram_value.unstack(0)

param        x1        x2        x3
h
0.1    2.396935  1.988587  2.491366
0.2    2.380388  1.341827  2.491404
0.3    2.361394  0.573220  2.491396
0.4    2.340129 -0.286865  2.491344
0.5    2.316802 -1.202605  2.491246
0.6    2.291654 -2.134120  2.491101
0.7    2.264953 -3.039075  2.490910
0.8    2.236994 -3.874406  2.490671
0.9    2.208095 -4.598101  2.490385

In [10]:
experiment_1.sobol_value

param
x1    0.021003
x2    0.813805
x3    0.000008
dtype: float64

In [11]:
experiment_1.morris_value[0].unstack(0)

param        x1        x2        x3
h
0.1    0.085327  0.503434  0.001514
0.2    0.171667  1.032148  0.002792
0.3    0.258590  1.575753  0.003935
0.4    0.345661  2.123269  0.005045
0.5    0.432441  2.663414  0.006222
0.6    0.518491  3.184904  0.007568
0.7    0.603376  3.676757  0.009183
0.8    0.686666  4.128592  0.011168
0.9    0.767940  4.530909  0.013625

In [12]:
experiment_1.morris_value[1].unstack(0)

param        x1        x2        x3
h
0.1    0.085327  0.503434  0.001514
0.2    0.171667  1.032148  0.002792
0.3    0.258590  1.575753  0.003935
0.4    0.345661  2.123269  0.005045
0.5    0.432441  2.663414  0.006222
0.6    0.518491  3.184904  0.007568
0.7    0.603376  3.676757  0.009183
0.8    0.686666  4.128592  0.011168
0.9    0.767940  4.530909  0.013625

In [13]:
experiment_1.e_covariogram_value.unstack(0)

param        x1        x2        x3
h
0.1    0.048176  1.864178  0.000017
0.2    0.031934  1.229291  0.000009
0.3    0.012942  0.461042  0.000001
0.4   -0.008626 -0.410562 -0.000005
0.5   -0.032560 -1.349771 -0.000012
0.6   -0.058619 -2.316491 -0.000018
0.7   -0.086530 -3.267882 -0.000026
0.8   -0.115995 -4.160097 -0.000035
0.9   -0.146689 -4.950085 -0.000046

In [14]:
experiment_1.sobol_factor_ranking

   x1  x2  x3
0   1   0   2

In [15]:
experiment_1.ivars

           x1        x2            x3
0.1  0.000186  0.007327  1.660631e-07
0.3  0.003562  0.141604  2.329983e-06
0.5  0.015988  0.632801  7.951157e-06

In [16]:
experiment_1.ivars_factor_ranking

     x1  x2  x3
0.1   0   1   2
0.3   0   1   2
0.5   0   1   2

In [17]:
experiment_1.variogram_low

h          x1        x2        x3
0.1  0.003666  0.143007  0.000002
0.2  0.014765  0.579141  0.000006
0.3  0.033363  1.308250  0.000010
0.4  0.059401  2.314514  0.000015
0.5  0.092694  3.565823  0.000021
0.6  0.132936  5.014409  0.000027
0.7  0.179694  6.598798  0.000036
0.8  0.232425  8.247000  0.000049
0.9  0.290474  9.880724  0.000069

In [18]:
experiment_1.variogram_upp

h          x1         x2        x3
0.1  0.003781   0.149969  0.000005
0.2  0.015238   0.610976  0.000015
0.3  0.034452   1.387615  0.000028
0.4  0.061369   2.466580  0.000041
0.5  0.095805   3.815529  0.000055
0.6  0.137443   5.383504  0.000073
0.7  0.185836   7.103034  0.000096
0.8  0.240414   8.893804  0.000130
0.9  0.300492  10.667649  0.000185

In [19]:
experiment_1.sobol_low

param        x1        x2        x3
       0.017464  0.665546  0.000004

In [20]:
experiment_1.sobol_upp

param        x1       x2        x3
       0.036066  1.37721  0.000014

In [21]:
experiment_1.ivars_low

           x1        x2            x3
0.1  0.000183  0.007150  9.218058e-08
0.3  0.003511  0.137627  1.286819e-06
0.5  0.015754  0.612782  4.391681e-06

In [22]:
experiment_1.ivars_upp

           x1        x2            x3
0.1  0.000189  0.007498  2.413105e-07
0.3  0.003624  0.145475  3.402068e-06
0.5  0.016274  0.652290  1.166221e-05

In [23]:
experiment_1.rel_sobol_factor_ranking

    x1   x2   x3
0  1.0  1.0  1.0

In [24]:
experiment_1.rel_ivars_factor_ranking

      x1   x2   x3
0.1  1.0  1.0  1.0
0.3  1.0  1.0  1.0
0.5  1.0  1.0  1.0

In [25]:
experiment_1.ivars50_grp

   x1  x2  x3
0   1   1   2

In [26]:
experiment_1.sobol_grp

   x1  x2  x3
0   1   1   2

In [27]:
experiment_1.reli_sobol_grp

    x1   x2   x3
0  1.0  1.0  1.0

In [28]:
experiment_1.reli_ivars50_grp

    x1   x2   x3
0  1.0  1.0  1.0