In [1]:
# importing VARS and Model from varstool package
from varstool import VARS, Model

import numpy as np
import pandas as pd

In [2]:
def ishigami(x, a=7, b=0.05):
    '''Ishigami test function'''
    # check whether the input x is a dataframe
    
    if not isinstance(x, (pd.core.frame.DataFrame, pd.core.series.Series, np.ndarray, list)):
        raise TypeError('`x` must be of type pandas.DataFrame, numpy.ndarray, pd.Series, or list')
    
    if len(x) > 3:
        raise ValueError('`x` must have only three arguments at a time')
    
    return np.sin(x[0]) + a*(np.sin(x[1])**2) + b*(x[2]**4)*np.sin(x[0])

In [3]:
ishigami_model = Model(ishigami)

In [4]:
experiment_1 = VARS(parameters = {'x1':(0, 1), 'x2':(0, 1), 'x3': (0, 1)},
                    delta_h = 0.1,
                    ivars_scales = (0.1, 0.3, 0.5),
                    num_stars=10,
                    sampler = 'rnd',
                    model = ishigami_model,
                    bootstrap_flag = True,
                    bootstrap_size = 100,
                    bootstrap_ci=0.9,
                    grouping_flag=True,
                    num_grps=2
                )

In [5]:
experiment_1

Star Centres: Loaded
Star Points: Not Loaded
Parameters: 3 paremeters set
Delta h: 0.1
Model: ishigami
Seed Number: 123456789
Bootstrap: On
Bootstrap Size: 100
Bootstrap CI: 0.9
Grouping: On
Number of Groups: 2
VARS Analysis: Not Done

In [6]:
experiment_1.run_online()
experiment_1

Star Centres: Loaded
Star Points: Loaded
Parameters: 3 paremeters set
Delta h: 0.1
Model: ishigami
Seed Number: 123456789
Bootstrap: On
Bootstrap Size: 100
Bootstrap CI: 0.9
Grouping: On
Number of Groups: 2
VARS Analysis: Done

In [7]:
experiment_1.variogram_value.unstack(0)

param        x1         x2        x3
h
0.1    0.003764   0.149465  0.000007
0.2    0.015162   0.608674  0.000021
0.3    0.034263   1.381875  0.000039
0.4    0.061006   2.455583  0.000057
0.5    0.095204   3.797471  0.000076
0.6    0.136541   5.356813  0.000100
0.7    0.184574   7.066569  0.000132
0.8    0.238742   8.847029  0.000180
0.9    0.298373  10.610742  0.000255

In [8]:
experiment_1.covariogram_value.unstack(0)

param        x1        x2        x3
h
0.1    1.710376  2.155085  1.920560
0.2    1.693150  1.483042  1.920441
0.3    1.673926  0.692847  1.920431
0.4    1.652888 -0.184564  1.920523
0.5    1.630249 -1.112893  1.920717
0.6    1.606252 -2.051897  1.921013
0.7    1.581165 -2.958995  1.921416
0.8    1.555279 -3.791002  1.921934
0.9    1.528907 -4.505921  1.922576

In [9]:
experiment_1.sobol_value

param
x1    0.024624
x2    0.970604
x3    0.000019
dtype: float64

In [10]:
experiment_1.morris_value[0].unstack(0)

param        x1        x2        x3
h
0.1    0.085816  0.511325  0.002180
0.2    0.172651  1.048326  0.004024
0.3    0.260073  1.600451  0.005676
0.4    0.347643  2.156549  0.007281
0.5    0.434920  2.705161  0.008981
0.6    0.521464  3.234824  0.010921
0.7    0.606836  3.734387  0.013245
0.8    0.690604  4.193304  0.016097
0.9    0.772343  4.601927  0.019621

In [11]:
experiment_1.morris_value[1].unstack(0)

param        x1        x2        x3
h
0.1    0.085816  0.511325  0.002180
0.2    0.172651  1.048326  0.004024
0.3    0.260073  1.600451  0.005676
0.4    0.347643  2.156549  0.007281
0.5    0.434920  2.705161  0.008981
0.6    0.521464  3.234824  0.010921
0.7    0.606836  3.734387  0.013245
0.8    0.690604  4.193304  0.016097
0.9    0.772343  4.601927  0.019621

In [12]:
experiment_1.e_covariogram_value.unstack(0)

param        x1        x2        x3
h
0.1    0.048741  1.920119  0.000034
0.2    0.032304  1.268322  0.000017
0.3    0.013087  0.478737  0.000003
0.4   -0.008735 -0.418315 -0.000011
0.5   -0.032948 -1.386665 -0.000024
0.6   -0.059307 -2.385699 -0.000038
0.7   -0.087535 -3.371977 -0.000053
0.8   -0.117327 -4.300981 -0.000071
0.9   -0.148354 -5.128939 -0.000094

In [13]:
experiment_1.sobol_factor_ranking

   x1  x2  x3
0   1   0   2

In [14]:
experiment_1.ivars

           x1        x2            x3
0.1  0.000188  0.007473  3.375273e-07
0.3  0.003606  0.144908  4.734606e-06
0.5  0.016180  0.649433  1.615289e-05

In [15]:
experiment_1.ivars_factor_ranking

     x1  x2  x3
0.1   0   1   2
0.3   0   1   2
0.5   0   1   2

In [16]:
experiment_1.variogram_low

h          x1         x2        x3
0.1  0.003694   0.144842  0.000004
0.2  0.014883   0.587534  0.000013
0.3  0.033635   1.329173  0.000024
0.4  0.059892   2.354604  0.000035
0.5  0.093473   3.631654  0.000047
0.6  0.134065   5.111714  0.000062
0.7  0.181234   6.731731  0.000081
0.8  0.234429   8.417518  0.000111
0.9  0.292988  10.088183  0.000158

In [17]:
experiment_1.variogram_upp

h          x1         x2        x3
0.1  0.003842   0.153343  0.000010
0.2  0.015479   0.626404  0.000030
0.3  0.034978   1.426078  0.000055
0.4  0.062277   2.540278  0.000081
0.5  0.097185   3.936547  0.000109
0.6  0.139407   5.562384  0.000143
0.7  0.188482   7.347409  0.000189
0.8  0.243827   9.207273  0.000258
0.9  0.304752  11.049028  0.000365

In [18]:
experiment_1.sobol_low

param        x1        x2        x3
       0.020869  0.834637  0.000012

In [19]:
experiment_1.sobol_upp

param       x1        x2        x3
       0.03429  1.348019  0.000029

In [20]:
experiment_1.ivars_low

           x1        x2            x3
0.1  0.000185  0.007242  2.088796e-07
0.3  0.003539  0.139696  2.944541e-06
0.5  0.015884  0.623198  1.001196e-05

In [21]:
experiment_1.ivars_upp

           x1        x2            x3
0.1  0.000192  0.007667  4.833226e-07
0.3  0.003681  0.149279  6.764307e-06
0.5  0.016517  0.671438  2.309234e-05

In [22]:
experiment_1.rel_sobol_factor_ranking

    x1   x2   x3
0  1.0  1.0  1.0

In [23]:
experiment_1.rel_ivars_factor_ranking

      x1   x2   x3
0.1  1.0  1.0  1.0
0.3  1.0  1.0  1.0
0.5  1.0  1.0  1.0

In [24]:
experiment_1.ivars50_grp

   x1  x2  x3
0   1   1   2

In [25]:
experiment_1.sobol_grp

   x1  x2  x3
0   1   1   2

In [26]:
experiment_1.reli_sobol_grp

    x1   x2   x3
0  1.0  1.0  1.0

In [27]:
experiment_1.reli_ivars50_grp

    x1   x2   x3
0  1.0  1.0  1.0